/* COLORS ROOT  */
:root{
    --black: #000000;
    --light-black: #171717;
    --white: #ffffff;
    --green: #4bc800;
    --red: red;
    --light-gray: #4a4a4a;
    --dark-gray: #222222;
}

/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);  /*se lo matto quà lo assegna anche ai button che hanno una loro classe css di defoult e dal body non ereditano il color*/
}

/* .debug{
    border: 1px solid red;
    min-height: 4vh;
  } */

/* GENERAL */

body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--light-black);
}

.flex-container{ /* di base per tutti e 3*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}

.center{
    justify-content: center;
}

.column{
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;   
}

/* HEADER  */

header{
    width: 100%;
    height: 50px;
    background-color: var(--black);
    padding: 5px;
}

header button{
    background-color: var(--light-gray);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

  /* MAIN  */

main{
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100% - 150px);/*siccome il wrapper ha h in vh possiamo usare le % nel calc - 150 perchè somma h footer e header 100+50*/
    overflow-y: auto;
    padding: 5px; 
}

.user-card{
    width: calc(100% / 6);
    /* min-width: 300px; */
    padding: 5px;
}

.img-user img{
    width: 100%;
}

.img-user{
    position: relative;
}

.img-user span{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 50%;
    padding: 3px;
    background-color: #4a4a4a85;
    color: var(--white);
}






/* FOOTER  */

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: var(--dark-gray);
    padding: 5px;
}

ul li{
    list-style: none;
    padding: 10px;
    font-size: 14px;
}

ul li i{
    font-size: 25px;
    padding: 5px;
}

 
.angle-up i{
    font-size: 12px;
}

.green{
    color: var(--green);
}

footer button{
    background-color: var(--light-gray);
    color: red;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 8px red;
}